@{
    ViewBag.Title = "ToDos List";
}

    <div class="jumbotron" style="background-color:white;">
        <button type="button" class="btn btn-primary btn-lg" onclick="GetAddItem();">Add New Item</button>

        <div id="tdList">
            <div id="dvData" style="border:1px solid black; padding:15px;margin-top:20px;">
                <table id="dataTable">
                    <thead>
                        <tr>
                            <th>Record Number</th>
                            <th>Todo Title</th>
                            <th>Action Column</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

    </div>

    <div id="AddItem" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add/Edit to do list item</h4>
            </div>
            <div class="modal-body">
               @{Html.RenderAction("AddPV", "ToDoList");}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
 </div>
